<div class="container">
  <% @articles.each do |article| %>
    <div class="card border-0">
      <div class="card-body">
        <h2 class="text-decoration-none"><%= link_to article.title, article_path(article) %></h1>
        <p><%= article.content %></p>
      </div>
    </div>
  <% end %>

</div>
