<div class="container">
  <div class="card d-flex">
    <h1><%= @article.title %></h1>
    <span>EDIT</span>
    <span>DELETE</span>
  </div>

  <hr>

  <div class="card">
    <p>
      <%= @article.content %>
    </p>
  </div>
</div>
