<div class="container">
  <div class="card d-flex">
    <h1><%= @article.title %></h1>
    <%= link_to "Edit", edit_article_path%>
    <%= link_to "Delete",
    article_path(@article),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>

  <hr>

  <div class="card">
    <p>
      <%= @article.content %>
    </p>
  </div>
</div>
